@import './custom-styles.scss';

.main {
  
  .main-filter {
    max-width: 530px;
    margin-bottom: 30px;


  }

  .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    .main-left {
      width: 45%;
    }
    
    .main-right {
      width: 55%;
    }
  }
}