@import './custom-styles.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: $font-medium;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
}

.main-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

// ELEMENT STYLES
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-semiBold;
  color: $color-headings;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.375em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

ul {
  list-style: none;
  margin-bottom: 15px;

  li {
    position: relative;
    padding-left: 15px;

    &::before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: $color-light-green;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

ol {
  padding-left: 20px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

// MANTINE OVERWRITES
.mantine-sdyrsu {
  font-family: $font-semiBold;
}
