@import '../../custom-styles.scss';

.header {
  padding: 27px 15px;
  background-color: $color-light-grey;
  margin-bottom: 35px;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .header-left {
      img {
        width: 155px;
      }
    }

    .header-right {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        font-size: 0.875em;
        font-family: $font-medium;
        background-color: $color-purple;
        border: none;
        border-radius: 8px;
        line-height: 1em;
        padding: 13px 16px;
        color: #fff;
        margin-right: 24px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background-color: darken($color-purple, 5);
          transition: all 0.3s ease;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}